.map {
	width: 100%;
	height: 599px;
}

[class*="ground-pane"] {
	filter: grayscale(1);
}

body {
	color: #262633;
	font-family: 'GolosText', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.burger {
	position: relative;
	margin-right: 100px;
}

.burger1 {
	position: absolute;
	height: 2px;
	width: 32px;
	background-color: rgb(3, 2, 2);
}

.burger2 {
	position: absolute;
	height: 2px;
	width: 16px;
	background-color: rgb(3, 2, 2);
	top: 9px;
}

.button {
	font-family: 'RoadRadio', sans-serif;
	font-style: normal;
	font-weight: 400;
	width: 190px;
	height: 52px;
	padding: 0 10px;
	border-radius: 14px;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
	text-transform: uppercase;
	background-color: #BF2738;
}

.input__button {
	cursor: pointer;
}

.button:hover {
	background: #CC2A3C;
	transition-duration: 0.5s;
}

.button:active {
	background: #991F2D;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__logo {
	margin-right: 100px;
	margin-left: 93px;
}

.header__inner {
	justify-content: space-between;
	align-items: center;
	padding: 14px 0 25px 0;
}

.list__item:not(:last-child) {
	margin-right: 46px;
}

.item__link {
	white-space: nowrap;
}

.compare__tool {
	margin-right: 23px;
}

.header__phone-number {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 6px;
	white-space: nowrap;
}

.user__tools {
	margin-right: 58px;
	margin-left: auto;
}

.tablet__logo {
	display: none;
}

.contacts {
	margin-right: 58px;
}

.header__email {
	font-family: 'Graphik LC Web';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 120%;
	color: #797986
}

@media (max-width: 768px) {
	.header__button {
		display: none;
	}

	h1 {
		font-size: 32px;
		line-height: 100%;
	}

	h2 {
		font-family: 'RoadRadio', sans-serif;
		font-weight: 400;
		font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
		line-height: 120%;
	}

	h3 {
		font-size: 26px;
		line-height: 130%;
	}

	h4 {
		font-size: 24px;
		line-height: 130%;
	}

	h5 {
		font-size: 22px;
		line-height: 130%;
	}

	.burger {
		margin-right: 80px;
	}

	.burger1 {
		position: absolute;
		height: 2px;
		width: 23px;
		background-color: rgb(3, 2, 2);
	}

	.burger2 {
		position: absolute;
		height: 2px;
		width: 12px;
		background-color: rgb(3, 2, 2);
		top: 9px;
	}

	.list__item:last-child {
		display: none;

	}

	.list__item:not(:last-child) {
		margin-right: 48px;
	}

	.list__item:first-child {
		margin-right: 30px;
	}

	.compare__tool {
		margin-right: 22px;
	}

	.list__item {
		font-size: 14px;
		line-height: 140%;
	}

	.header__phone-number {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		margin-bottom: 3px;
	}

	.header__email {
		font-family: 'Graphik LC Web';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 120%;
		color: #797986
	}

	.header__logo {
		position: absolute;
		display: none;
	}

	.tablet__logo {
		display: block;
	}

	.user__tools {
		display: flex;
		margin-right: 48px;
		margin-left: 72px;
	}
}

@media (max-width: 320px) {
	.header__inner {
		height: 65px;
		padding: 0;
	}

	.header__nav {
		display: none;
	}

	.burger {
		margin-right: 87px;
	}

	.user__tools {
		padding-top: 5px;
		margin-right: 0;
		margin-left: 47px;
	}

	.contacts {
		display: none;
	}

	.tablet__logo {
		display: none;
	}

	.header__logo {
		display: block;
		position: static;
		margin: 0;
		padding: 0;
	}

	.logo__img {
		width: 65px;
		height: 40px;
	}

	.hero__title {
		font-weight: 400;
		font-size: 22px;
		line-height: 120%;
	}
}

/* ---------------------CRUMBS---------------------- */
.crumbs {
	background: #F5F5F5;
}

.crumbs__inner {
	text-align: center;
	padding: 23px 0;
}

hr {
	height: 1px;
	background-color: rgba(0, 0, 0, 0.1);
}

.crumb__main {
	margin-right: 24px;
	position: relative;
}

.crumb__main::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 1px;
	background: #797986;
	border-radius: 50%;
	right: -14px;
	bottom: 6px;
}

/* --------------------------------HERO-------------------------- */
.hero {
	padding-bottom: 66px;
	background: #ffffff;
}

.hero__inner {
	display: flex;
	justify-content: space-between;
}

.hero__title {
	text-align: center;
	font-family: 'RoadRadio', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 110%;
	background: #F5F5F5;
	padding-top: 24px;
	padding-bottom: 44px;
	margin-bottom: 92px;
}

.hero__phone-number {
	font-family: 'RoadRadio', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 110%;
}

.email {
	display: block;
	font-size: 25px;
	line-height: 30px;
	color: #BF2738;
}

.hero__info {
	max-width: 607px;
	padding-right: 73px;
}

.hero__text {
	font-family: 'GolosText', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 150%;
	color: #808080;
}

.text-1 {
	max-width: 500px;
	font-weight: 400;
	font-size: 17px;
	line-height: 110%;
	color: #262633;
}

.text-2 {
	max-width: 150px;
}

.text-3 {
	max-width: 430px;
}

.text-4 {
	max-width: 410px;
}

.hero__text:not(:last-child) {
	margin-bottom: 30px;
}

.hero__number {
	font-family: 'RoadRadio', sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 110%;
}

.hero__email {
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.hero__info {
		margin-right: 50px;
	}

	.hero__title {
		text-align: center;
		font-family: 'RoadRadio';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 100%;
		background: #F5F5F5;
		padding-top: 24px;
		padding-bottom: 44px;
		margin-bottom: 92px;
	}

	.hero__number {
		font-family: 'RoadRadio';
		font-style: normal;
		font-weight: 400;
		font-size: 28px;
		line-height: 120%;
	}
}

@media (max-width: 320px) {
	.hero__inner {
		display: block;
	}

	.hero__number {
		font-weight: 400;
		font-size: 28px;
		line-height: 120%;
	}

	.hero__info {
		padding: 0;
		margin-bottom: 50px;
	}

}

/* ----------------------FORM----------------------- */
.user__contacts {
	display: flex;
	margin-bottom: 28px;
}

.form__button input[type="submit"] {
	width: 190px;
}

.hero__form-inner {
	display: flex;
}

.topic__text {
	font-family: 'RoadRadio';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 110%;
	margin-bottom: 20px;
}

.user-width {
	width: 300px;
}

.user__input {
	background: #F5F5F5;
	border-radius: 14px;
	font-size: 16px;
	line-height: 150%;
	padding: 17px 20px 11px 20px;
	color: #797986;
}

.input-box:not(:last-child) {
	margin-right: 30px;
}

.user__message {
	width: 630px;
	height: 116px;
	resize: none;
	margin-bottom: 20px;
	overflow: hidden;
}

.label__text {}

.agreement__link {
	color: #262633;
}

.checkbox {}

.checkbox__input {
	display: none;
}

.checkbox__input:checked+.checkbox__label::before {
	background-color: #BF2738;
}

.checkbox__input:checked+.checkbox__label::after {
	opacity: 1;
}

.checkbox__label {
	font-size: 13px;
	line-height: 120%;
	color: #808080;
	align-items: center;
	position: relative;
	cursor: pointer;
	display: inline-flex;
	margin-bottom: 30px;
}

.checkbox__label::before {
	content: '';
	align-self: flex-start;
	flex: 0 0 20px;
	height: 20px;
	background-color: #F5F5F5;
	border-radius: 4px;
	margin-right: 16px;
}

.checkbox__label::after {
	content: '';
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 4px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #BF2738;
	opacity: 0;
}

@media (max-width: 768px) {
	.user__contacts {
		display: block;
		margin-bottom: 12px;
	}

	.topic__text {
		font-family: 'RoadRadio';
		font-style: normal;
		font-weight: 400;
		font-size: 28px;
		line-height: 120%;
		margin-bottom: 10px;
	}

	.user__message {
		width: 350px;
		height: 166px;
		resize: none;
		margin-bottom: 10px;
		overflow: hidden;
	}

	.input-box:not(:last-child) {
		margin-bottom: 10px;
	}

	.user-width {
		width: 350px;
		height: 60px;
	}
}

@media (max-width: 320px) {
	.user-width {
		width: 290px;
		height: 60px;
	}

	.user__message {
		width: 290px;
		height: 166px;
		resize: none;
		margin-bottom: 20px;
		overflow: hidden;
	}

	.topic__text {
		font-family: 'RoadRadio';
		display: inline-block;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 120%;
		margin-bottom: 10px;
	}

	.label__text {
		max-width: 250px;
	}

	.checkbox__label {
		margin-bottom: 20px;
	}

	.hero {
		padding-bottom: 50px;
	}

	.map {
		height: 320px;
	}
}

/* -------------------------------------------------------ADDRESS--------------------------- */
.address__inner {
	padding-top: 81px;
	padding-bottom: 100px;
}

.address__catalog {}

.catalog__card {
	padding: 33px 16px 40px 22px;
	background: #F5F5F5;
	border-radius: 20px;
	color: #262633;
}

.card__title {
	font-family: 'RoadRadio';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 110%;
	margin-bottom: 15px;
}

.card__phone-number {
	font-weight: 400;
	font-size: 19px;
	line-height: 150%;
	margin-bottom: 10px;
}

.card__address {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #797986;
	margin-bottom: 5px;
}

.card__route {}

.link__route {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #BF2738;
}

.work__time {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
}

.address__catalog-up {
	display: grid;
	gap: 30px;
	grid-template-columns: 300px 300px 300px 300px;
	margin-bottom: 30px;
}

.address__catalog-down {
	display: grid;
	gap: 30px;
	grid-template-columns: 300px 300px auto;
}

@media (max-width: 768px) {
	.address__catalog-up {
		display: grid;
		gap: 10px;
		grid-template-columns: 350px 350px;
		grid-template-rows: 310px;
		margin-bottom: 10px;
	}

	.card__number {
		max-width: 56%;
	}

	.catalog__card-l {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 4;
		grid-row-end: 5;
		margin-top: -20px;
	}

	.address__catalog-down {
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(auto-fill, 350px);
		margin-bottom: 10px;
	}

	.address__inner {
		padding-top: 60px;
		padding-bottom: 80px;
	}
}

@media (max-width: 320px) {
	.address__catalog-up {
		display: grid;
		gap: 10px;
		grid-template-columns: 288px;
		margin-bottom: 10px;
	}

	.address__catalog-down {
		display: grid;
		gap: 10px;
		grid-template-columns: 288px;
		margin-bottom: 10px;
	}

	.catalog__card-l {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 4;
		grid-row-end: 5;
		margin-top: 2px;
		height: 395px;
	}

	.card__number {
		max-width: 71%;
	}

	.card__number1 {
		max-width: 100%;
	}
}

/* ---------------------------------FOOTER------------------------ */
.wrapper-bg {
	background: #222225;
	background: -moz-linear-gradient(left, #222225 0%, #222225 50%, #2a2a2e 50%, #2a2a2e 100%);
	background: -webkit-linear-gradient(left, #222225 0%, #222225 50%, #2a2a2e 50%, #2a2a2e 100%);
	background: linear-gradient(to right, #222225 0%, #222225 50%, #2a2a2e 50%, #2a2a2e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222225', endColorstr='#2a2a2e', GradientType=1);

}

.navigation__list {
	font-family: 'AkzidenzGroteskPro', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 180%;
	color: #797986;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 66px;
	max-width: 70%;
}

.navigation__link:hover {
	color: #FFFFFF;
	transition: ease 0.3s;
}

.footer__button {
	background-color: rgb(255, 255, 255, 0);
	border: 2px solid #494950;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	color: #F5F5F5;
	padding-top: 63px;
	padding-bottom: 31px;
}

.footer__menu {}

.menu {}

.products {}

.products__list {
	margin-bottom: 69px;
}

.products__item {}

.products__link {
	font-size: 24px;
	line-height: 140%;
}

.products__item:not(:last-child) {
	margin-bottom: 10px;
}

.navigation__item:not(:last-child) {
	margin-right: 20px;
}

.footer__navigation {}

.navigation {}

.copyright {
	font-family: 'Akzidenz-Grotesk Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 110%;
	color: #797986;
}

.footer__contacts {}

.footer__components {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.components {}



.tel__number-link {
	font-weight: 500;
	font-size: 30px;
	line-height: 130%;
}

.button {}

.footer__email {
	font-size: 24px;
	line-height: 140%;
	color: #F23147;
	margin-bottom: 97px;
}

.footer__address {
	font-family: 'Akzidenz-Grotesk Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	margin-bottom: 76px;
	max-width: 75%;
}

.footer__copyright {
	display: flex;
}

.copyright:not(:last-child) {
	margin-right: 536px;
}

.copyright span {
	color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
	.products__link {
		font-size: 20px;
		line-height: 170%;

	}

	.components__tel {
		margin-bottom: 20px;
	}

	.products__link:hover {
		color: #F23147;
	}

	.tel__number-link {
		font-weight: 500;
		font-size: 23px;
		line-height: 150%;
	}

	.footer__components {
		display: block;
		margin-bottom: 15px;
	}

	.footer__email {
		font-size: 19px;
		line-height: 110%;
		color: #F23147;
		margin-bottom: 97px;
	}

	.footer__address {
		max-width: 81%;
	}

	.copyright span {
		color: #F23147;
	}

	.copyright:not(:last-child) {
		margin-right: 210px;
	}
}

@media (max-width: 320px) {
	.footer__inner {
		display: block;
	}

	.wrapper-bg {
		background: rgb(34, 34, 37);
		background: -moz-linear-gradient(top, rgb(34, 34, 37) 0%, rgb(34, 34, 37) 47%, rgb(42, 42, 46) 44%, rgb(42, 42, 46) 100%);
		background: -webkit-linear-gradient(top, rgb(34, 34, 37) 0%, rgb(34, 34, 37) 47%, rgb(42, 42, 46) 44%, rgb(42, 42, 46) 100%);
		background: linear-gradient(to bottom, rgb(34, 34, 37) 0%, rgb(34, 34, 37) 47%, rgb(42, 42, 46) 44%, rgb(42, 42, 46) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222225', endColorstr='#2a2a2e', GradientType=0);
	}

	.products__list {
		margin-bottom: 15px;
	}

	.footer__copyright {
		display: block;
		white-space: nowrap;
	}

	.copyright span {
		color: rgba(255, 255, 255, 0.7);
	}

	.footer__email {
		margin-bottom: 42px;
	}
	.footer__inner {
		color: #F5F5F5;
		padding-top: 41px;
		padding-bottom: 28px;
	}
	.navigation__list{
		margin-bottom: 79px;
	}
	.footer__address{
		margin-bottom: 50px;
	}
}